<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tom Lausberg | Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <!-- <link rel="stylesheet" href="/css/main.bundle.css"> -->
    <script src="https://kit.fontawesome.com/4e5a72c756.js"></script>
</head>

<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item is-hidden-desktop">
                <a href="https://github.com/tomlausberg" class="icon is-large has-text-light">
                    <i class="fab fa-2x fa-github"></i>
                </a>
            </div>
            <div class="navbar-item is-hidden-desktop">
                <a href="https://tomlausberg.github.io" class="icon is-large has-text-light">
                    <i class="fas fa-2x fa-globe"></i>
                </a>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="https://github.com/tomlausberg" class="icon is-large has-text-light">
                        <i class="fab fa-2x fa-github"></i>
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="https://tomlausberg.github.io" class="icon is-large has-text-light">
                        <i class="fas fa-2x fa-globe"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero is-primary"> <!-- Hero -->
        <div class="hero-body">
            <div class="container">
                <div class="level">
                    <div class="level-item has-text-centered">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="img/BadgeFoto_TomLausberg.jpg" alt="Tom Lausberg">
                        </figure>
                    </div>
                </div>
                <div class="columns has-text-centered">
                    <div class="column">
                        <h1 class="title is-1">
                            Tom Lausberg
                        </h1>
                        <h2 class="subtitle">
                            Computational Scientist and Engineer, Zürich, CH
                        </h2>
                        <p>
                            <a href="docs/resume.txt" class="icon has-text-light">
                                <i class="fas fa-file-word"></i> <strong>Resume</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section"> <!-- About Me -->
        <div class="container">
            <h1 class="title">About Me</h1>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                id est
                laborum.</p>
        </div>
    </section>


    <section class="section"> <!-- Education -->
        <div class="container">
            <h1 class="title">Education & Experience</h1>
            <hr />
            <div class="card"> <!-- Masters-->
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="img/eth_zurich_logo.jpeg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">ETH Zurich - Master's degree</p>
                            <p class="subtitle is-6">Computational Science and Engineering <time
                                    datetime="2018-1">2021</time> - <time datetime="2019-9">2024</time> </p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris.
                        <ul>
                            <li>Specialization: Physics, Atmospheric Sciences</li>
                            <li>Final Grade: 5.76 - with distinction</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card card-gap"> <!-- Bachelors -->
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="img/eth_zurich_logo.jpeg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">ETH Zurich - Bachelor's degree</p>
                            <p class="subtitle is-6">Computational Science and Engineering <time
                                    datetime="2018-1">2016</time> - <time datetime="2019-9">2020</time> </p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris.
                        <ul>
                            <li>Specialization: Physics</li>
                            <li>Final Grade: 4.88</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card card-gap">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="img/hslu_logo2.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Lucerne University of Applied Sciences and Arts</p>
                            <p class="subtitle is-6">Student Assitant - <time datetime="2020-2"> Feb 2020</time> - <time
                                    datetime="2021-7"> July 2021</time></p>
                        </div>
                    </div>
                    <div class="content">
                        <p>TODO Get exact dates. Implemented the software infrastructure for a mobile air quality
                            monitoring system,
                            including MicroPython-based sensor control, LoRa/LTE telemetry, and ThingsBoard-based data
                            visualization
                            platform.</p>
                        <div class="tags">
                            <span class="tag">Micropython</span>
                            <span class="tag">LoRaWAN</span>
                            <span class="tag">MQTT</span>
                            <span class="tag">Thingsboard</span>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">Proj 2</h1>
            <%= require('./project.html') %>
                <hr />
        </div>
    </section>

    <section class="section"> <!-- Projects -->
        <div class="container">
            <h1 class="title">Projects</h1>
            <hr />


            <div class="tile is-ancestor">
                <div class="tile is-verticle is-parent is-12 card">
                    <article class="tile is-child notification card-content">
                        <p class="title">Master Thesis</p>
                        <p class="subtitle">Multi-period Optimal Power Flow with Physics-informed Graph Neural Network,
                            2024</p>
                        <figure class="image">
                            <img class="modal-trigger" data-target="project-1-modal" src="img/PIGNN.svg">
                        </figure>
                        <div class="tags">
                            <span class="tag">Python</span>
                            <span class="tag">PyTorch</span>
                            <span class="tag">Torch Geometric</span>
                            <span class="tag">Gurobi</span>
                        </div>
                    </article>
                </div>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-vertical is-12">
                    <div class="tile">
                        <div class="tile is-parent card">
                            <article class="tile is-child notification card-content">
                                <p class="title">Bachelor Thesis</p>
                                <p class="subtitle">An Efficient Boundary-Respecting Streamfunction-Vorticity Solver,
                                    2021</p>
                                <figure class="image">
                                    <img class="modal-trigger" data-target="project-1-modal"
                                        src="img/kelvin_helmholtz_titel.png">
                                </figure>
                                <div class="tags">
                                    <span class="tag">C++</span>
                                    <span class="tag">Eigen</span>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-12">
                    <div class="tile">
                        <div class="tile is-parent">
                            <article class="tile is-child notification">
                                <p class="title">Project title</p>
                                <figure class="image is-4by3">
                                    <img class="modal-trigger" data-target="project-4-modal"
                                        src="img/project-4-cover.png">
                                </figure>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child notification">
                                <p class="title">Project title</p>
                                <figure class="image is-4by3">
                                    <img class="modal-trigger" data-target="project-5-modal"
                                        src="img/project-5-cover.png">
                                </figure>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child notification">
                                <p class="title">Project title</p>
                                <figure class="image is-4by3">
                                    <img class="modal-trigger" data-target="project-6-modal"
                                        src="img/project-6-cover.png">
                                </figure>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section"> <!-- Contact -->
        <div class="container">
            <h1 class="title">Contact</h1>
            <hr />
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <a href="https://github.com/tomlausberg" class="icon is-large">
                            <i class="fab fa-2x fa-github"></i>
                        </a>
                        <p class="heading"><a href="https://github.com/tomlausberg">github.com/tomlausberg</a></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <a href="https://tomlausberg.github.io" class="icon is-large">
                            <i class="fas fa-2x fa-globe"></i>
                        </a>
                        <p class="heading"><a href="https://tomlausberg.github.io">tomlausberg.github.io</a></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <a href="mailto:tomlausberg@gmail.com" class="icon is-large">
                            <i class="fas fa-2x fa-envelope"></i>
                        </a>
                        <p class="heading"><a href="mailto:tomlausberg@gmail.com">tomlausberg@gmail.com</a></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <a href="https://www.linkedin.com/in/tom-lausberg/" class="icon is-large">
                            <i class="fab fa-2x fa-linkedin-in"></i>
                        </a>
                        <p class="heading"><a href="https://www.linkedin.com/in/tom-lausberg/">linkedin</a></p>
                    </div>
                </div>
            </nav>
        </div>
    </section>


    <%= require('./modals.html') %>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <a href="https://github.com/mmacneil/devfolio" target="_blank" class="icon has-text-primary">
                        <i class="fab fa-github"></i> <strong>devfolio</strong></a>
                </p>
            </div>
        </footer>

        <!-- <script src="/js/bundle.js"></script> -->
</body>

</html>